* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}

body {
  font-family: cursive, sans-serif;
  background-color: #1e293b;
  color: #99a2b2;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  height: 150px;
}

.header__title {
  font-size: 3.7rem;
}

.nav-main {
  width: 30%;
  justify-content: space-around;
  margin-top: 60px;
  flex-wrap: wrap;
}

.nav-main__item {
  all: unset;
  font-size: 1.2rem;
}

.nav-main__item:hover {
  cursor: pointer;
  color: #e84e4d;
}

.nav-main__item:focus {
  color: #e84e4d;
}

.new-todo {
  width: 30%;
  margin-top: 50px;
}

.new-todo__input {
  all: unset;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
  min-width: 0;
  padding: 8px 14px;
  flex-grow: 1;
  border-bottom: 1px solid #99a2b2;
}

.new-todo__input--edit {
  all: unset;
  width: 100%;
  padding: 8px 12px;
  box-shadow: 0px 0px 7px #93c572;
  background-color: #0d172862;
  word-break: break-all;
}

button {
  all: unset;
}

.fa-solid {
  color: #e84d4d;
  transition: transform 0.2s;
}

.fa-solid:hover {
  cursor: pointer;
  transform: rotate(360deg);
  color: #93c572;
}

.fa-solid--visible {
  visibility: hidden;
}

.todo-list {
  align-items: flex-start;
  width: 30%;
  margin-top: 50px;
  gap: 30px;
}

.todo-list__container {
  width: 100%;
  gap: 12px;
}

.todo-list__item {
  width: 100%;
  padding: 8px 12px;
  box-shadow: 1px 2px 5px black;
  background-color: #0d1728;
  word-break: break-all;
}
